.LRSLocator-widget-setting {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.LRSLocator-widget-setting .tab-node-hidden {
  width: 100% !important;
  height: auto !important;
  top: 10px !important;
  bottom: 0 !important;
  display: none;
}

.LRSLocator-widget-setting .tab-item-div {
  user-select: none;
}

.LRSLocator-widget-setting .esriCTFullHeight {
  height: 100%;
}

.LRSLocator-widget-setting .tab-node {
  width: 100% !important;
  height: auto !important;
  top: 10px !important;
  bottom: 0 !important;
}

.LRSLocator-widget-setting .statusTable {
  width: 100%
}

.LRSLocator-widget-setting .statusRow {
  font-weight: bold;
  padding-left: 10px;
}

.LRSLocator-widget-setting .layer-symbol {
  padding-left: 25px;
  padding-top: 3px;
}

.LRSLocator-widget-setting .jimu-symbol-picker {
  border: none;
  display: block;
}

.LRSLocator-widget-setting .jimu-symbol-picker .symbol-node {
  top: 0px;
}

.LRSLocator-widget-setting .extentMap {
  width: 250px;
  height: 250px;
  float: right;
  margin: 7px;
  margin-top: unset;
  border-radius: 15px;
  border: 2px solid #a0acbf;
}

.LRSLocator-widget-setting .layer-error {
  color: #cc3300
}

.LRSLocator-widget-setting .layer-warning {
  color: #ffcc00
}

.LRSLocator-widget-setting .layer-success {
  color: #339900
}

.LRSLocator-widget-setting .node-wrapper {
  width: 100%;
  overflow: hidden;
  margin-top: 12px;
  height: calc(100% - 30px);
  overflow: auto;
}

.LRSLocator-widget-setting .fieldset {
  height: auto;
  width: 100%;
  border: 1px solid #a0acbf;
  border-radius: 5px;
  color: #596679;
  min-width: 0px;
  margin-bottom: 10px;
}

.LRSLocator-widget-setting .legend {
  margin-left: 20px;
}

.LRSLocator-widget-setting .symbolContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.LRSLocator-widget-setting .symbolContainer .jimu-symbol-picker {
  display: inline-block;
}

.LRSLocator-widget-setting .symbolContainer .jimu-symbol-picker .symbol-node {
  top: 4px;
}

.LRSLocator-widget-setting .symbolContainer >div {
  margin: 20px;
  text-align: center;
}

.LRSLocator-widget-setting .btn-add-section,
.LRSLocator-widget-setting-attributesetedit .btn-add-section,
.LRSLocator-widget-setting-networklayeredit .btn-add-section{
  display:inline-block;
  overflow:hidden;
  user-select: none;
  height:24px;
  margin-top: 10px;
  margin-left: 10px;
  cursor:pointer;
  font-size:13px;
  color:#24B5CC;
}

.LRSLocator-widget-setting-AddDate .main-table {
  border-spacing: 15px;
}

.LRSLocator-widget-setting-AddDate .calendarRow {
  border-right: 1px solid #6868685e;
  padding-right: 15px;
}

.LRSLocator-widget-setting .configBtn {
  display:inline-block;
  margin-right:10px;
  overflow:hidden;
  height:24px;
  margin-left:1px;
  margin-bottom:3px;
  cursor:pointer;
  font-size:13px;
  color:#24B5CC;
}

.LRSLocator-widget-setting .configBtnIcon{
  float:left;
  height:100%;
  width:14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/edit_enabled.png);
}

.LRSLocator-widget-setting .configBtnLabel{
  float:left;
  height:100%;
  line-height:24px;
  vertical-align:middle;
  margin-left:7px;
  text-decoration: underline;
}

.LRSLocator-widget-setting .tooltip{
  float: right;
  filter: invert(0.35);
  user-select: none;
}
.LRSLocator-widget-setting .btn-add-section .btn-add-label {
  float:left;
  height:100%;
  line-height:24px;
  vertical-align:middle;
  margin-left:7px;
  text-decoration: underline;
}

.LRSLocator-widget-setting .btn-add-section .btn-add-icon,
.LRSLocator-widget-setting-attributesetedit .btn-add-section .btn-add-icon,
.LRSLocator-widget-setting-networklayeredit .btn-add-section .btn-add-icon{
  float:left;
  height:100%;
  width:14px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(images/add.png);
}



.LRSLocator-widget-setting .dijitArrowButtonContainer {
  width: 17px;
}

.LRSLocator-widget-setting .intersection-layer-div{
  width: 100%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #d2dae2;
  background-color: #f1f1f1;
  color: #7989a0;
  font-size: 14px;
}

.LRSLocator-widget-setting .EditTextBox{
  position: relative;
  text-overflow: ellipsis;
}

.LRSLocator-widget-setting .EditTextBox .edit-btn-enabled,
.LRSLocator-widget-setting .EditTextBox .edit-btn-disabled{
  background: center center no-repeat url(images/edit_2.png);
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  margin: 7px;
  box-sizing: border-box;
}

.LRSLocator-widget-setting .EditTextBox .edit-btn-enabled:hover{
  filter: brightness(50%);
  cursor: pointer;
}

.LRSLocator-widget-setting .EditTextBox .edit-btn-disabled:hover{
  cursor: not-allowed;
}

.LRSLocator-widget-setting .flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.LRSLocator-widget-setting .input-table>tbody>tr>.first {
  width: auto;
  min-width: 200px;
}

.LRSLocator-widget-setting .input-table>tbody>tr>.second {
  width: 80%;
}

.LRSLocator-widget-setting .input-table>tbody>tr>.third {
  padding-left: 15px;
  width: 50px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.LRSLocator-widget-setting .jimu-checkbox .checkbox {
  margin: 12px 0;
}

.LRSLocator-widget-setting-attributesetedit,
.LRSLocator-widget-setting-networklayeredit {
  height: 100%;
  overflow-y: auto;
}

.LRSLocator-widget-setting-attributesetedit .btn-add-section,
.LRSLocator-widget-setting-networklayeredit .btn-add-section {
  margin-bottom:0;
}

.LRSLocator-widget-setting-attributesetedit .error-message-div,
.LRSLocator-widget-setting-networklayeredit .error-message-div {
  border: 0px solid;
  font-size: 11px;
  color: red;
  margin-left: 126px;
}

.LRSLocator-widget-setting-attributesetedit .jimu-checkbox .checkbox,
.LRSLocator-widget-setting-networklayeredit .jimu-checkbox .checkbox {
  margin-top: 0;
}

.LRSLocator-widget-setting-attributesetedit .input-table > tbody > tr > td,
.LRSLocator-widget-setting-networklayeredit .input-table > tbody > tr > td {
height: 30px;
line-height: 20px;
vertical-align: middle;
padding:4px 0;
}

.LRSLocator-widget-setting-attributesetedit .sort-fields-div,
.LRSLocator-widget-setting-networklayeredit .sort-fields-div {
width: 100%;
height: 30px;
line-height: 30px;
border: 1px solid #d2dae2;
background-color: #e3ecf2;
color: #7989a0;
font-size: 14px;
}

.LRSLocator-widget-setting-attributesetedit .sort-fields-div span,
.LRSLocator-widget-setting-networklayeredit .sort-fields-div span {
float: left;
height: 30px;
line-height: 30px;
}

.LRSLocator-widget-setting-attributesetedit .btn-sort-fields,
.LRSLocator-widget-setting-networklayeredit .btn-sort-fields {
width: 14px;
height: 14px;
background: center center no-repeat url(images/edit_disabled.png);
cursor: default;
}

.LRSLocator-widget-setting-attributesetedit .btn-sort-fields.enabled,
.LRSLocator-widget-setting-networklayeredit .btn-sort-fields.enabled {
background: center center no-repeat url(images/edit_enabled.png);
cursor: pointer;
}

.LRSLocator-widget-setting-attributesetedit .sorting-table,
.LRSLocator-widget-setting-networklayeredit .sorting-table {
table-layout:fixed;
width:100%;
padding-top: 8px;
}

.LRSLocator-widget-setting-attributesetedit .sorting-table > tbody > tr > td,
.LRSLocator-widget-setting-networklayeredit .sorting-table > tbody > tr > td {
padding-top: 3px;
padding-bottom: 3px;
}

.LRSLocator-widget-setting-attributesetedit .sort-fields-div span,
.LRSLocator-widget-setting-networklayeredit .sort-fields-div span {
float: left;
height: 30px;
line-height: 30px;
}

.LRSLocator-widget-setting-attributesetedit .sort-arrow,
.LRSLocator-widget-setting-networklayeredit .sort-arrow {
width: 13px;
}

.LRSLocator-widget-setting-attributesetedit .sort-arrow.asc,
.LRSLocator-widget-setting-networklayeredit .sort-arrow.asc {
background: center center no-repeat url(images/up_arrow.png);
}

.LRSLocator-widget-setting-attributesetedit .sort-arrow.desc,
.LRSLocator-widget-setting-networklayeredit .sort-arrow.desc {
background: center center no-repeat url(images/down_arrow.png);
}

.LRSLocator-widget-setting-include-button {
  position:relative;
  display: inline-block;
  background:#8c8c8c;
  padding:5px 18px 5px 10px;
  color:white;
  border-radius:3px;
  cursor: pointer;
  margin: 10px auto;
}

.LRSLocator-widget-setting-include-button.enable {
  background: #24b5cc;
}

.LRSLocator-widget-setting-include-button.enable:hover {
  background: #0090a7;
}

.LRSLocator-widget-setting-include-button .include-arrow {
  position:absolute;
  right:4px;
  top:45%;
  width:0;
  height:0;
  border-top:3px solid transparent;
  border-bottom:3px solid transparent;
  border-left:5px solid white;
}

.LRSLocator-widget-setting-include-all-button {
  position:relative;
  display: inline-block;
  background:#8c8c8c;
  padding:5px 18px 5px 10px;
  color:white;
  border-radius:3px;
  cursor: pointer;
  margin: 0 auto;
}

.LRSLocator-widget-setting-include-all-button.enable {
  background: #24b5cc;
}

.LRSLocator-widget-setting-include-all-button.enable:hover {
  background: #0090a7;
}

.LRSLocator-widget-setting-include-all-button .include-arrow {
  position:absolute;
  right:4px;
  top:45%;
  width:0;
  height:0;
  border-top:3px solid transparent;
  border-bottom:3px solid transparent;
  border-left:5px solid white;
}

/***CSS for IncludeButton dijit***/
.LRSLocator-widget-setting-include-button {
  position:relative;
  display: inline-block;
  background:#8c8c8c;
  padding:5px 18px 5px 10px;
  color:white;
  border-radius:3px;
  cursor: pointer;
  margin: 10px auto;
}

.LRSLocator-widget-setting-include-button.enable {
  background: #24b5cc;
}

.LRSLocator-widget-setting-include-button.enable:hover {
  background: #0090a7;
}

.LRSLocator-widget-setting-include-button .include-arrow {
  position:absolute;
  right:4px;
  top:45%;
  width:0;
  height:0;
  border-top:3px solid transparent;
  border-bottom:3px solid transparent;
  border-left:5px solid white;
}

.LRSLocator-widget-setting .jimu-simple-table,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table {
  width:100%;
  margin:0;
  padding:0;
  overflow-x:hidden;
  overflow-y:auto;
  min-height: 100%;
  position: relative;
}

.LRSLocator-widget-setting .jimu-simple-table .simple-table-title,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-title,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-title {
  font-size: 14px;
}

.LRSLocator-widget-setting .jimu-simple-table .head-section,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .head-section,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .head-section {
  width:100%;
  height:36px;
  overflow:hidden;
}

.LRSLocator-widget-setting .jimu-simple-table .head-section .simple-table-tbody,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .head-section .simple-table-tbody,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .head-section .simple-table-tbody {
  display: none;
}

.LRSLocator-widget-setting .jimu-simple-table .body-section,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .body-section,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .body-section {
  position: absolute;
  top: 36px;
  bottom: 0;
  width:100%;
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 1px solid #eef2f5;
  border-right: 1px solid #eef2f5;
  border-bottom: 1px solid #eef2f5;
  background-color: #fafafc;
  color: #7989a0;
}

.LRSLocator-widget-setting .jimu-simple-table .body-section .simple-table-thead,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .body-section .simple-table-thead,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .body-section .simple-table-thead {
  display: none;
}

.LRSLocator-widget-setting .jimu-simple-table .table,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .table,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .table {
  width:100%;
  border-collapse:collapse;
  table-layout:fixed;
}

.LRSLocator-widget-setting .jimu-simple-table .simple-table-field.hidden-column > *,
.LRSLocator-widget-setting .jimu-simple-table .simple-table-cell.hidden-column > *,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-field.hidden-column > *,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-cell.hidden-column > *,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-field.hidden-column > *,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-cell.hidden-column > * {
  display: none;
}

.LRSLocator-widget-setting .jimu-simple-table .simple-table-field,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-field,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-field {
  height: 36px;
  line-height: 36px;
}

.LRSLocator-widget-setting .jimu-simple-table .simple-table-cell,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-cell,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-cell {
  height:30px;
  line-height:30px;
}

.LRSLocator-widget-setting .jimu-simple-table .radio-td.simple-table-cell,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .radio-td.simple-table-cell,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .radio-td.simple-table-cell {
  padding-left: 24px;
}

.LRSLocator-widget-setting .jimu-simple-table .body-section .simple-table-tbody td.simple-table-cell > .jimu-checkbox,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .body-section .simple-table-tbody td.simple-table-cell > .jimu-checkbox,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .body-section .simple-table-tbody td.simple-table-cell > .jimu-checkbox {
  top: unset;
}

.LRSLocator-widget-setting .jimu-simple-table .checkbox-td.simple-table-cell,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .checkbox-td.simple-table-cell,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .checkbox-td.simple-table-cell {
  padding-left: 42px;
}

.LRSLocator-widget-setting .jimu-simple-table .actions-td.simple-table-cell,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .actions-td.simple-table-cell,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .actions-td.simple-table-cell {
  padding-left: 24px;
}

.LRSLocator-widget-setting .jimu-simple-table .simple-table-field,
.LRSLocator-widget-setting .jimu-simple-table .simple-table-cell,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-field,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-cell,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-field,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-cell {
  vertical-align:middle;
  padding-left:8px;
  padding-right:8px;
  padding-top:0;
  padding-bottom:0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.LRSLocator-widget-setting .jimu-simple-table .simple-table-field > *,
.LRSLocator-widget-setting .jimu-simple-table .simple-table-cell > *,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-field > *,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-cell > *,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-field > *,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-cell > * {
  text-overflow: ellipsis;
}

.LRSLocator-widget-setting .jimu-simple-table .simple-table-cell > *,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-cell > *,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-cell > * {
  overflow: hidden;
}

.LRSLocator-widget-setting .jimu-simple-table .simple-table-row:last-child .simple-table-cell,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-row:last-child .simple-table-cell,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-row:last-child .simple-table-cell {
  border-bottom: 0;
}

.LRSLocator-widget-setting .jimu-simple-table .simple-table-row .editable-div,
.LRSLocator-widget-setting .jimu-simple-table .simple-table-row .normal-text-div,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-row .editable-div,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-row .normal-text-div,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-row .editable-div,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-row .normal-text-div {
  width: 100%;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.LRSLocator-widget-setting .jimu-simple-table .simple-table-row .editable-input,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-row .editable-input,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-row .editable-input {
  width:100%;
}

.LRSLocator-widget-setting .jimu-simple-table .simple-table-row > .actions-td .action-item-parent,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-row > .actions-td .action-item-parent,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-row > .actions-td .action-item-parent {
  display: none;
  vertical-align:middle;
}

.LRSLocator-widget-setting .jimu-simple-table .simple-table-row:hover > .actions-td .action-item-parent,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-row:hover > .actions-td .action-item-parent,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-row:hover > .actions-td .action-item-parent {
  display: inline-block;
}

.LRSLocator-widget-setting .jimu-simple-table .simple-table-row > .actions-td .action-item,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table .simple-table-row > .actions-td .action-item,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table .simple-table-row > .actions-td .action-item {
  cursor:pointer;
}

.LRSLocator-widget-setting .jimu-simple-table.jimu-layer-field-chooser,
.LRSLocator-widget-setting .jimu-simple-table.searchLayerFieldsTable,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table.jimu-layer-field-chooser,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table.searchLayerFieldsTable,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table.jimu-layer-field-chooser,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table.searchLayerFieldsTable {
  min-height: 540px;
  max-height: 540px;
}

.LRSLocator-widget-setting .jimu-simple-table.searches-table,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table.searches-table,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table.searches-table {
  max-height: 425px;
  height: 425px;
}

.LRSLocator-widget-setting .jimu-simple-table.values-table,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table.values-table,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table.values-table {
  max-height: 117px;
}

.LRSLocator-widget-setting .jimu-simple-table.user-values-table,
.LRSLocator-widget-setting-attributesetedit .jimu-simple-table.user-values-table,
.LRSLocator-widget-setting-networklayeredit .jimu-simple-table.user-values-table {
  max-height: 306px;
}